[Service]
User=root
WorkingDirectory=/home/rami/tdots/dwm/iwctl
ExecStart=/home/rami/tdots/dwm/iwctl/connect.sh NoConnect 9217505896
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target
